.transaction {
    position: relative;
}

.transaction h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.transaction-items {
    background-color: #fef7ff;
}


.transaction-item p {
    margin: 0px 64px 0px auto;
}

.transaction-item button {
    position: absolute;
    right: 16px;
}

.transaction-item-add {
    position: absolute;
    top: 5px;
    right: 9px;
}